
body{
    font-family: "EB Garamond", serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    background-image: url(images/paper.jpg)
}
  
 #b{
    font-weight: bolder;
    display: flex;
    justify-content: center;
} 